<div class="modal-dialog" role="document">
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Cart</h4>
    </div>
    <div class="modal-body">
        <div class="col-xs-6">
            <p th:each="item, iterStat : ${cartContents}">
                <span th:text="${item.name}">Item</span>
                <button href="#" class="substractProduct" th:attr="data-substract=${item.id}">-</button><span th:text="${item.quantityInCart}">Quantity</span><a href="#" class="addProduct" th:attr="data-add=${item.id}">+</a>
            </p>
        </div>
        <div class="col-xs-6">
            <p th:each="item, iterStat : ${cartContents}">
                <span th:text="${item.defaultPrice}">Price</span>
                <a class="removeItem" th:attr="data-remove=${item.id}">remove</a>
            </p>
        </div>

        <div class="col-xs-6">
            <p class="bold">Total:</p>
        </div>
        <div class="col-xs-6">
            <span class="bold" th:text="${productSumm}"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button href="/index/checkout" type="button" class="btn btn-primary">Checkout</button>
    </div>
</div>
    </div>